applicationhost.config
.vs
packages
*.cache

# all bin folders
bin

#logs



#obj/Debug

BlazorApplication/EmployeeManagement.Api/obj
BlazorApplication/EmployeeManagement.Models/bin
BlazorApplication/EmployeeManagement.Web/obj


BlazorApplication/EmployeeManagement.Models/obj
